[submodule "1vs1"]
	path = 1vs1
	url = git://github.com/kasymovga/1vs1
[submodule "DarkPlacesRM"]
	path = DarkPlacesRM
	url = git://github.com/kasymovga/DarkPlacesRM
[submodule "rexdlc"]
	path = rexdlc
	url = git://github.com/kasymovga/rexdlc
[submodule "rmqcc"]
	path = rmqcc
	url = git://github.com/kasymovga/rmqcc
	branch = master
