[submodule "1vs1"]
	path = 1vs1
	url = https://github.com/kasymovga/1vs1
[submodule "DarkPlacesRM"]
	path = DarkPlacesRM
	url = https://github.com/kasymovga/DarkPlacesRM
[submodule "rexdlc"]
	path = rexdlc
	url = https://github.com/kasymovga/rexdlc
[submodule "gmqcc"]
	path = gmqcc
	url = https://github.com/kasymovga/gmqcc
