[Desktop Entry]
Name=Rexuiz
Comment=A multiplayer fast-paced First-Person Shooter (DarkPlacesRM engine)
Exec=/usr/bin/rexuiz
Icon=rexuiz
Terminal=false
Type=Application
Categories=Game;ActionGame;
